.TodoItem {
    background-color: #7acf35;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 24px;
    box-shadow: 0px 5px 50px rgba(32, 35, 41, 0.15);
}

.Todo-Item-p {
    margin: 24px 0 24px 24px;
    width: calc(100% - 120px);
    font-size: 18px;
    color: #020530;
    line-height: 24px;
    font-weight: 400;
}
.TodoItem-p--complete {
    text-decoration: line-through;
}

.Icon {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 48px;
    width: 48px;
    font-size: 24px;
    font-weight: bold;
    /* background-color: #CCC; */
}

.Icon-check {
    position: absolute;
    color: aliceblue;
    left: 12px;
    font-size: 30px;
}
.Icon-check--active {
    color: #045806;
}

.Icon-delete {
    position: absolute;
    color: aliceblue;
    top: -15px;
    right: -15px;
    font-size: 40px;
}
.Icon-delete:hover {
    color: red;
}